
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Forzar opciones (botones) en vertical */
.ac-actionSet {
  flex-direction: column !important;
  align-items: stretch !important;
}
.ac-pushButton {
  margin: 5px 0 !important;
}
